# CAP coa-changelog
_out
*.db
connection.properties
default-*.json
.cdsrc-private.json
gen/
node_modules/
target/

# Web IDE, App Studio
.che/
.gen/

# MTA
*_mta_build_tmp
*.mtar
mta_archives/

# Other
.DS_Store
*.orig
*.log

*.iml
*.flattened-pom.xml

# IDEs
# .vscode
# .idea

# auto generated wildcard
coa-changelog/db/.env
# auto generated wildcard

# auto generated wildcard
*.env

# auto generated wildcard
*default-env.json
*package-lock.json
# auto generated wildcard
*.env*

# auto generated wildcard
coa-3dv/.env5
# auto generated wildcard
220914-coa-platform-api/coa-3dv/.env6
# auto generated wildcard
220914-coa-platform-api/coa-lineplan/.env3
# auto generated wildcard
220914-coa-platform-api/coa-output/.env3


# auto generated wildcard
*.env*
# auto generated wildcard
*default-env.json
